{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="{% static 'instagram/js/jquery-3.5.1.js' %}"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'instagram/css/bootstrap.css' %}"/>
    <title>{% block title %}{% endblock title %}</title>
    <style>
        body {
        padding-top: 5rem;
        padding-bottom: 5rem;
        }
    </style>


</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">회원가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}?next={{ request.get_full_path }}">로그인</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">프로필</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}?next={{ request.get_full_path }}">로그아웃</a>
                </li>
            {% endif %}


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
     <div class="row">
         <div class="col-sm-12">
             <div class="messages">
                 {% if messages %}
                     {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message.message }}
                        </div>
                     {% endfor %}
                 {% endif %}
             </div>
             {% block content %}
             {% endblock content %}
             <hr/>
             &copy; django practice
         </div>
     </div>
</div>
</body>
</html>