<!Doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>Instagran / Post List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <form action"" method="get">
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="검색"/>
    </form>
    <table class="table table-borderd table_hover">
        <tbody>
            {% for post in post_list %}
            <tr>
                <td>{{ post.message }}</td>
                {% if post.photo %}
                    <td><img src="{{ post.photo.url }}" /></td>
                {% else %}
                    <td>No photo</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>